doctype html
html
    head
        title Barbershop
        link(rel="stylesheet" href='style/foundation.css')
        link(rel="stylesheet" href='style/style.css')
    body
        header.header-main
            nav.header-main__menu
                ul.header-main__list
                    li.header-main__item ИНФОРМАЦИЯ
                    li.header-main__item НОВОСТИ
                    li.header-main__item ПРАЙС-ЛИСТ
                    li.header-main__item
                        a(href="shop.html") МАГАЗИН
                    li.header-main__item КОНТАКТЫ
                .user-login
                    img.user-login__img(src="images/login.svg", alt="SignIn", width="16", height="16")
                    .user-login__text ВХОД
            .logo
                img.logo__img(src="images/index-logo.svg", alt="logo", width="370", height="155")
        main.container
            h1.visually-hidden Барбершоп "Бородинский"
            section.advantage
                ul.advantage__list
                    li.advantage__item
                        h2.advantage__title БЫСТРО
                        p.advantage__text МЫ ДЕЛАЕМ СВОЮ РАБОТУ БЫСТРО! ДВА ЧАСА ПРОЛЕТЯТ НЕЗАМЕТНО И ВЫ — СЧАСТЛИВЫЙ ОБЛАДАТЕЛЬ СТИЛЬНОЙ СТРИЖКИ-МИНУТКИ!
                    li.advantage__item
                        h2.advantage__title КРУТО
                        p.advantage__text ЗАБУДЬТЕ, КАК ВЫ СТРИГЛИСЬ РАНЬШЕ. МЫ СДЕЛАЕМ ИЗ ВАС ЗВЕЗДУ ФУТБОЛА ИЛИ КИНО!
                    li.advantage__item
                        h2.advantage__title ДОРОГО
                        p.advantage__text НАШИ МАСТЕРА — ПРОФЕССИОНАЛЫ СВОЕГО ДЕЛА И НЕ МОГУТ СТОИТЬ ДЕШЕВО. К ТОМУ ЖЕ, РАЗВЕ ЦЕНА НЕ ДАЕТ ОПРЕДЕЛЕНЫЙ СТАТУС?
            section.news
                h2 НОВОСТИ
                ul.news__list
                    li.news__item
                        p.news__text НАМ НАКОНЕЦ ЗАВЕЗЛИ ЯГЕРМАЙСТЕР! ТЕПЕРЬ ВЫ МОЖЕТЕ ПРОПУСТИТЬ СТАКАНЧИК ВО ВРЕМЯ СТРИЖКИ
                        time(datetime="2019-01-11") 11 января
                    li.news__item
                        p.news__text В НАШЕЙ КОМАНДЕ ПОПОЛНЕНИЕ, БОРИС «БРИТВА» СТРИГУНЕЦ, ОБЛАДAТЕЛЬ МНОЖЕСТВА ТИТУЛОВ И НАГРАД ПОПОЛНИЛ НАШИ СТРОЙНЫЕ РЯДЫ
                        time(datetime="2019-01-18") 18 января
                a.btn.btn-news(href="news.html") Все Новости
            section.gallery
                h2 ФОТОГАЛЕРЕЯ
                figure.gallery-content
                    a(href="#")
                        img(src="image/barber-hall.jpg" alt="Интерьер", width="330", height="165")
                button.btn.btn__nav НАЗАД
                button.btn.btn__nav ВПЕРЕД
            section.contacts
                h2.contacts__title КОНТАКТНАЯ ИНФОРМАЦИЯ
                p.contacts__address
                    |БАРБЕРШОП «БОРОДИНСКИЙ»
                    br
                    | АДРЕС: Г. САНКТ-ПЕТЕРБУРГ, Б. КОНЮШЕННАЯ, Д. 19/8
                    bt
                    | ТЕЛЕФОН: +7 (495) 666-02-66
                p.contacts__time
                    |ВРЕМЯ РАБОТЫ:
                    br
                    |ПН—ПТ: С 10:00 ДО 22:00
                    br
                    |СБ—ВС: С 10:00 ДО 19:00
                a.btn.btn__nav(href="#") КАК ПРОЕХАТЬ
                a.btn.btn__nav(href="#") ОБРАТНАЯ СВЯЗЬ
            section.appointment
                h2 ЗАПИСАТЬСЯ
                p УКАЖИТЕ ЖЕЛАЕМУЮ ДАТУ И ВРЕМЯ И МЫ СВЯЖЕМСЯ С ВАМИ ДЛЯ ПОДТВЕРЖДЕНИЯ
                form.appointment__form
                    label.appointment__label ДАТА
                    input(type="text" name="date" placeholder="08.10.2019" value="")
                    label.appointment__label ВРЕМЯ
                    input(type="text" name="time" placeholder="10:00" value="")
                    label.appointment__label ВАШЕ ИМЯ
                    input(type="text" name="name" placeholder="Борода" value="")
                    label.appointment__label ТЕЛЕФОН
                    input(type="tel" name="phone" placeholder="+7 123 456-78-90" value="")
                button.brn.btn__send ОТПРАВИТЬ
            footer.footer-main
                p.footer-main__address
                    |БАРБЕРШОП «БОРОДИНСКИЙ»
                    br
                    |АДРЕС: Г. САНКТ-ПЕТЕРБУРГ, УЛ. Б. КОНЮШЕННАЯ,
                    br
                    |Д. 19/8
                    br
                    |КАК НАС НАЙТИ?
                .footer-socials
                    .footer-socials__title Давайте Дружить!
                        ul.social
                            li
                                a.social__item(href="#")
                                    img.social__img(src="images/vk.svg" alt="Вконтакте", width="20", height="20")
                            li
                                a.social__item(href="#")
                                    img.social__img(src="images/facebook.svg" alt="Фейсбук", width="20", height="20")
                            li
                                a.social__item(href="#")
                                    img.social__img(src="images/instagram.svg" alt="Инстаграм", width="20", height="20")
                .footer-copyright
                    button.btn.btn__copy HTML ACADEMY
            section.modal.modal-login
                h2 ЛИЧНЫЙ КАБИНЕТ
                p.modal-login__text ВВедите пожалуйста свой логин и пароль
                form.login-form
                    p
                        input(class="login-user" placeholder="Логин" type="text" name="user")
                    p
                        input(class="login-password" placeholder="Пароль" type="text" name="password")
                    p
                        input(class="visually-hidden" type="checkbox" name="remember")
                        | Запомните меня
                        a(href="#") Я ЗАБЫЛ ПАРОЛЬ!
                button.btn.btn__enter(type="submit") ВОЙТИ
                span.modal-close X
            section.modal.modal-map
                h2.visually-hidden Как добраться до нас
                span.visually-hidden X











        script(src='js/foundation.js')
        script(src='js/main.js')
